:80 {
	# @skip path_regexp \.(js|css|png|jpe?g|gif|ico|woff|otf|ttf|eot|svg|txt|pdf|docx?|xlsx?)$
	# log_skip @skip

	# log {
	# 	output file logs.json
	# 	format json
	# }
	@prod expression {env.CADDY_ENV} == "prod"
	@dev expression {env.CADDY_ENV} == "dev"

	handle /api/* {
		reverse_proxy @prod backend:8080
		reverse_proxy @dev localhost:8080
	}

	handle /* {
		handle @prod {
			root * /usr/share/caddy
			file_server
			try_files {path} /index.html
		}
		# vite dev server
		handle @dev {
			reverse_proxy localhost:5173
		}
	}
	encode zstd gzip
}
